* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    background-color: rgb(0, 0, 0);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;

    h1 {
        margin: 0;
        padding: 0;
        font-size: 9rem;
        color: white;
        transform: translateY(-50%);
    }
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;
}
